.addUser {
  width: 400px;
  height: max-content;
  padding: 30px;
  background: rgba(17, 25, 40, 0.781);
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;

  form {
    display: flex;
    gap: 20px;

    input {
      padding: 20px;
      border-radius: 10px;
      border: none;
      outline: none;
    }
    button {
      border-radius: 10px;
      background: #1a73eb;
      padding: 20px;
      color: white;
      border: none;
      cursor: pointer;
    }
  }
  .user {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    .detail {
      display: flex;
      align-items: center;
      overflow: hidden;
      gap: 20px;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    button {
      border-radius: 10px;
      background: #1a73eb;
      padding: 10px;
      color: white;
      border: none;
      cursor: pointer;
    }
  }
}
